<ng-container >

</ng-container>
<div>
  <h3 *ngIf="true" > <span class="badge bg-secondary"
      style="background-color:#3F51B5 !important; color:#FFFFFF; font-weight:bold">PROCESO</span> :
    MANTENIMIENTO</h3>
</div>
<app-app-general-contenedor-principal [loading]="loading"  [contentSource]="contentSource" [templates]="templates">

  <ng-template #perfiles>

  </ng-template>


  <ng-template #opciones>
    <app-gestion-opciones></app-gestion-opciones>
  </ng-template>

  <ng-template #usuarios>

  </ng-template>


  <ng-template #menus>

  </ng-template>

  <ng-template #sistemas>

  </ng-template>
</app-app-general-contenedor-principal>
<app-app-general-footer></app-app-general-footer>

<ng-template sigapeTemplate="HOlaaa">

</ng-template>
