
<ng-container *ngIf="state$ | async as state">

  <ng-container *ngIf="!state.opcion.current.isLoading">
    <div>
      <h4 *ngIf="true" > <span class="badge bg-secondary"
          style="background-color:#3F51B5 !important; color:#FFFFFF; font-weight:bold">ACTIVIDAD</span> :
        GESTION DE OPCIONES</h4>
    </div>

    <app-form-search-opcion ></app-form-search-opcion>


    <h3>Listado de Opciones</h3>

    <ngx-sigape-data-grid
      (on-load-data)="handleLoadData($event)"
      [loading]="state.opcion.loading"
      [source]="state.opcion.source"
      [definition]="state.opcion.definition"
      [serverError]="state.opcion.error"
      (on-click-button)="handleClickButton($event)"
      >
    </ngx-sigape-data-grid>

  </ng-container>


    <ngx-sigape-loader-block-ui [show]="state.opcion.current.isLoading"></ngx-sigape-loader-block-ui>



  <ng-container *ngIf="state.loading">
    <ngx-sigape-loader-configuration></ngx-sigape-loader-configuration>
  </ng-container>
</ng-container>
