<ng-container *ngIf="state$ | async as state">

  <ngx-sigape-modal-form-container
  [title]="state.opcion.modalOpcion.title"
  (on-dismiss)="handleClose()"
  [cancelLabel]="'Cerrar'"
  [cancelIcon]="'close'"
  [loading]="state.opcion.modalOpcion.isLoading"
  (on-submit)="submit()"
  [formType]="state.opcion.modalOpcion.type">

  <div class="row">
    <div class="col-6">
      <ngx-sigape-form-model-field
        variant="mask"
        label="Nombre"
        matTooltip="Nombre Opcion"
        [disabled]="state.opcion.modalOpcion.isLoading || state.opcion.modalOpcion.type == consultar"
        [formModelField]="form.model['nombre']"
        (on-change)="handleInputChange($event, 'nombre')"
        appLetterOnly
       ></ngx-sigape-form-model-field>
    </div>
    <div class="col-6">
      <ngx-sigape-form-model-field
        variant="mask"
        label="Icono"
        matTooltip="Icono Opcion"
        [disabled]="state.opcion.modalOpcion.isLoading || state.opcion.modalOpcion.type == consultar"
        [formModelField]="form.model['icono']"
        (on-change)="handleInputChange($event, 'icono')"
        appLetterOnly
       ></ngx-sigape-form-model-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">

      <ngx-sigape-form-model-field
        variant="select"
        label="Es Emergente"
        placeholder="--Todos--"
        matTooltip="Es emergente Opcion"
        [disabled]="state.opcion.modalOpcion.isLoading || state.opcion.modalOpcion.type == consultar"
        [formModelField]="form.model['esEmergente']"
        [options]="listaEsEmergente"
       ></ngx-sigape-form-model-field>




    </div>

  </div>

</ngx-sigape-modal-form-container>



</ng-container>

