<ngx-sigape-data-grid-from-filter
    (on-submit)="handleSubmit()"
    (on-reset)="handleClear()"
    (on-new)="handleClickNew()"
    [hideNew]="true"
>

    <div class="">
      <div class="row m-3">
        <div class="col-4">
          <ngx-sigape-form-model-field
            variant="mask"
            label="Nombre"
            [formModelField]="form.model['nombre']"
            (on-change)="handleInputChange($event, 'nombre')"
            appLetterOnly="nombre"
          >
          </ngx-sigape-form-model-field>
        </div>
        <div class="col-4">
          <ngx-sigape-form-model-field
            variant="mask"
            label="Icono"
            [formModelField]="form.model['icono']"
            (on-change)="handleInputChange($event, 'icono')"
            appLetterOnly="icono"
          >
          </ngx-sigape-form-model-field>
        </div>
        <div class="col-4">
          <ngx-sigape-form-model-field
            variant="select"
            label="Es Emergente"
            placeholder="--Seleccione --"
            [formModelField]="form.model['esEmergente']"
            [options]="listaEsEmergente"
       ></ngx-sigape-form-model-field>
        </div>
      </div>

    </div>






</ngx-sigape-data-grid-from-filter>


<div class="toolbar">
    <div class="toolbarstart mat-typography col-page-size">
      <div class="toolbarend">
        <ngx-sigape-button-nuevo
          [disabled]="false"
          (on-click)="handleClickNew()"
          *ngIf="tieneNuevoOpcion"
        ></ngx-sigape-button-nuevo>
    </div>
  </div>
</div>
