<ngx-sigape-data-grid-from-filter
    (on-submit)="form.submit()"
    (on-reset)="handleClear()"
    (on-new)="handleClickNew()"
>

    <div class="">
      <div class="row m-3">
        <div class="col-4">
          <ngx-sigape-form-model-field
          label="Nombre"

          >
          </ngx-sigape-form-model-field>
        </div>
        <div class="col-4">
          <ngx-sigape-form-model-field
          label="Icono"
          >
          </ngx-sigape-form-model-field>
        </div>
        <div class="col-4">
          <ngx-sigape-form-model-field
            label="Url"
            >
          </ngx-sigape-form-model-field>
        </div>
      </div>

    </div>






</ngx-sigape-data-grid-from-filter>
