
<ng-container *ngIf="state$ | async as state">

 <ng-container *ngIf="!state.menu.current.isLoading">   <!--Agregar el otro o sea el state.menu y state.submenu -->
    <div>
      <h4 *ngIf="true" > <span class="badge bg-secondary"
          style="background-color:#3F51B5 !important; color:#FFFFFF; font-weight:bold">ACTIVIDAD</span> :
        GESTION DE MENUS</h4>
    </div>

    <app-form-search-menu></app-form-search-menu>


    <h3>Listado de Menus</h3>

    <ngx-sigape-data-grid
      (on-load-data)="handleLoadData($event)"
      [loading]="state.menu.loading"
      [source]="state.menu.source"
      [definition]="state.menu.definition"
      [serverError]="state.menu.error"
      (on-click-button)="handleClickButton($event)"
      >
    </ngx-sigape-data-grid>

    <h3>Listado de Submenus</h3>

    <ngx-sigape-data-grid
      (on-load-data)="handleLoadData($event)"
      [loading]="state.menu.loading"
      [source]="state.menu.source"
      [definition]="state.menu.definition"
      [serverError]="state.menu.error"
      (on-click-button)="handleClickButton($event)"
      >
    </ngx-sigape-data-grid>

  </ng-container>


    <ngx-sigape-loader-block-ui [show]="state.menu.current.isLoading"></ngx-sigape-loader-block-ui>



  <ng-container *ngIf="state.loading">
    <ngx-sigape-loader-configuration></ngx-sigape-loader-configuration>
  </ng-container>
</ng-container>
