
<ng-container *ngIf="session$ | async as state">

  <ng-container *ngIf="state.isLoggedIn">
    <ngx-sigape-layout
        [router]="router"
        [appTitle]="title"
        [drawerMini]="false"
        [drawerOpen]="isMobile?drawerMobileOpen:drawerOpen"
        [appMenu]="menus"
        [isMobile]="isMobile"
        [user]="usuario"
        (on-toogle-drawer)="handleToogleDrawer($event)"
        (on-logout)="handleLogout()"
        [drawerAttached]="drawerAttached"
        (on-toogle-drawer-attached)="handleToogleAttachDrawer($event)"
        (on-change-mobile-size)="handleChangeMobileSize($event)"
        (on-click-logo)="handleClickLogo()"
        (on-click-change-password)="handleClickChangePassword()"
      >

      <img src="../../../../../../assets/imagen-fondo.png" class="center" alt="Logo Universidad Nacional de Ucayali">

      </ngx-sigape-layout>
  </ng-container>
  <ng-container *ngIf="!state.isLoading && state.loginError">

    <ng-template #login>
      <app-wellcome (on-click-login)="handleLogin()"></app-wellcome>
    </ng-template>


    </ng-container>



</ng-container>

